# datetime
---

In [1]:
import datetime

In [2]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

## Time

In [8]:
# datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)

t = datetime.time(1, 2, 3)
print(t)

01:02:03

In [4]:
print(f'hour: {t.hour}')
print(f'minute: {t.minute}')
print(f'second: {t.second}')
print(f'microsecond: {t.microsecond}')
print(f'tzinfo: {t.tzinfo}')

hour: 1
minute: 2
second: 3
microsecond: 0
tzinfo: None

In [5]:
# variable 't' is a time object, not a datetime object
print('Earliest:', datetime.time.min)
print('Latest:', datetime.time.max)
print('Resolution:', datetime.time.resolution)

Earliest: 00:00:00
Latest: 23:59:59.999999
Resolution: 0:00:00.000001

In [7]:
midnigth = datetime.time(0, 39, 0, 5)
midnigth2 = datetime.time(microsecond=5, minute=39)
print(midnigth)
print(midnigth2)

00:39:00.000005
00:39:00.000005

## Date

In [ ]:
# datetime.date(year, month, day)

today = datetime.date.today()
print(f'today: \n\t {today}')
# ctime is a string representation of the date
print(f'ctime: \n\t {today.ctime()}')
# tuple is a tuple representation of the date
print(f'tuple: \n\t {today.timetuple()}')
# ordinal is a number of days since 1/1/1
print(f'ordinal: \n\t {today.toordinal()}')
print(f'year: \n\t {today.year}')
print(f'month: \n\t {today.month}')
print(f'day: \n\t {today.day}')

today:
	 2024-12-03
ctime:
	 Tue Dec  3 00:00:00 2024
tuple:
	 time.struct_time(tm_year=2024, tm_mon=12, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=338, tm_isdst=-1)
ordinal:
	 739223
year:
	 2024
month:
	 12
day:
	 3

In [13]:
import time

o = 733114
print(f'o = {o} and fromordinal(o) = {datetime.date.fromordinal(o)}')

t = time.time()
print(f't = {t} and fromtimestamp(t) = {datetime.date.fromtimestamp(t)}')

o = 733114 and fromordinal(o) = 2008-03-13
t = 1733242309.0710368 and fromtimestamp(t) = 2024-12-03

In [ ]:
print('Earliest:', datetime.date.min)
print('Latest:', datetime.date.max) 
print('Resolution:', datetime.date.resolution) # whole day

Earliest: 0001-01-01
Latest: 9999-12-31
Resolution: 1 day, 0:00:00

In [15]:
d1 = datetime.date(2022, 7, 5)
print(f'd1: {d1}')

d2 = d1.replace(year=2023)
print(f'd2: {d2}')

d1: 2022-07-05
d2: 2023-07-05

In [16]:
help(d1.replace)

Help on built-in function replace:

replace(...) method of datetime.date instance
    Return date with new specified fields.

In [27]:
created_date = datetime.date(year=2023, month=1, day=5)
print(created_date)

2023-01-05

# timedeltas

In [28]:
# datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

print(f'microseconds: {datetime.timedelta(microseconds=1)}')
print(f'milliseconds: {datetime.timedelta(milliseconds=1)}')
print(f'seconds: {datetime.timedelta(seconds=1)}')
print(f'minutes: {datetime.timedelta(minutes=1)}')
print(f'hours: {datetime.timedelta(hours=1)}')
print(f'days: {datetime.timedelta(days=1)}')
print(f'weeks: {datetime.timedelta(weeks=1)}')

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds: 0:00:01
minutes: 0:01:00
hours: 1:00:00
days: 1 day, 0:00:00
weeks: 7 days, 0:00:00

### Date Arithmetic
Date math uses the standard arithmetic operators.


The following example with date objects illustrates using timedelta objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value).

In [29]:
today = datetime.date.today()
print(f'today: {today}')

today: 2024-12-03

In [30]:
one_timedelta_day = datetime.timedelta(days=1)
print(f'one_timedelta_day: {one_timedelta_day}')

one_timedelta_day: 1 day, 0:00:00

In [31]:
yesterday = today - one_timedelta_day
print(f'yesterday: {yesterday}')

yesterday: 2024-12-02

In [32]:
tomorrow = today + one_timedelta_day
print(f'tomorrow: {tomorrow}')

tomorrow: 2024-12-04

In [33]:
print(f'tomorrow - yesterday: {tomorrow - yesterday}')
print(f'yesterday - tomorrow: {yesterday - tomorrow}')

tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00